{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Nouvel article</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="contact">
        <div class="container">
            <a href="../public/index.php?route=administration"><i class="bi bi-arrow-left-circle-fill" style="font-size: 4rem"></i></a>
            <div>
                {% include('formBlogPost.html.twig') %}
            </div>
        </div>
    </section>
{% endblock %}